/build
/.gradle
/.settings
/cradle-cassandra/bin
/cradle-cassandra/.settings
/cradle-cassandra/.project
/cradle-cassandra/.classpath
/cradle-cassandra/build
/cradle-core/.classpath
/cradle-core/.project
/cradle-core/.settings
/cradle-core/bin
/cradle-core/build
/cradle-core/test-output
/.classpath
/.project

# IntelliJ Idea
.idea
out
/cradle-cassandra/test-output
