/build
/.gradle
/.settings
/cradle-cassandra/bin
/cradle-cassandra/.settings
/cradle-cassandra/.project
/cradle-cassandra/.classpath
/cradle-cassandra/build
/cradle-cassandra/gradle/
/cradle-core/gradle/
/gradle/dependency-locks/
/cradle-core/.classpath
/cradle-core/.project
/cradle-core/.settings
/cradle-core/bin
/cradle-core/build
/.classpath
/.project

# IntelliJ Idea
.idea
/cradle-cassandra-feeder/logs
/cradle-cassandra-feeder/bin
/cradle-cassandra-feeder/build
/cradle-cassandra-feeder/.classpath
/cradle-cassandra-feeder/.project
/cradle-message-viewer/.project
/cradle-message-viewer/bin
/cradle-message-viewer/build
/cradle-message-viewer/logs
/cradle-message-viewer/.classpath
/cradle-message-viewer/.settings
/cradle-message-viewer/.gradle
out
